h1 {
  background-image: url(https://th.bing.com/th/id/OIP.1cVKWsq1yeSOzlBR2My0lwHaE8?rs=1&pid=ImgDetMain);
  background-attachment: scroll;
  background-repeat: repeat-x;
  height: 20vh;
  color: aliceblue;
  /* border: inset 20px rgb(247, 181, 242); */
  border-radius: 5px;
  font-size: 50px;
  font-style: oblique;
  text-align: start;
  padding: 10px;
  margin-bottom: 10px;
}
p {
  background-color: aliceblue;
}

img {
  margin-left: 200px;
}
h2 {
  background-color: rgb(195, 241, 238);
  font-style: bold;
  text-decoration: underline black;
  outline-width: 4px;
  outline-color: rgb(37, 30, 30);
  outline-style: ridge;
  border: 2px rgb(3, 73, 73) dashed;
}
h3 {
  /* border: 5px green outset; */
  text-decoration: underline;
  text-shadow: 0px 2px 2px black;
  font-family: "Courier New", Courier, monospace;
}
.hi {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
a:link {
  color: rgb(248, 253, 248);
  background-color: yellow;
  text-decoration: none;
}
a:visited {
  color: red;
  background-color: yellow;
  text-decoration: none;
}
a:hover {
  color: rgb(46, 122, 65);
  background-color: yellow;
  text-decoration: underline;
}
a:active {
  color: violet;
  background-color: yellow;
  text-decoration: underline;
}
a {
  /* height: 500px;
  width: 500px; */
  border: 2px black solid;
  margin-left: 1100px;
}
a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
}
dt {
  background-color: bisque;
  width: 50px;
}
dd {
  background-color: aliceblue;
}
#by {
  width: 80px;
  height: 40px;
  padding-bottom: 20px;
}
img {
  border: 2px double rgb(0, 0, 0);
  outline: 10px ridge rgb(0, 0, 0);
}
table,
th,
/* tr, */
td {
  border: 3px solid black;
  margin: 20px;
  border-collapse: collapse;
}
th {
  background-color: #04aa6d;
}
td {
  background-color: rgb(202, 247, 213);
  /* text-shadow: 0px 2px rgb(221, 176, 217); */
}
/* table {
  text-shadow: 0px 0px rgb(174, 229, 236);
} */
/* #hi {
  border: 4px black solid;
} */
/* aside {
  background-color: lightblue;
  width: 50%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  margin-bottom: 150px;
} */
